     <h1>codeial / <%= title %> </h1>


    <section id="feed-posts">

        <h2>Post</h2>

        <% if(locals.user) { %>

        <form action="/posts/create" id="new-post-form" method="POST">

            <textarea name="content" cols="30" rows="3" placeholder=" Type your post here ! " required></textarea >
 
            <input type="submit" value="Post">

        </form>

        <% } %>

        <div>

            <ul>

                <% for(post of posts) { %>
                    <li>

                           <p>
                            <h1 style="color: black;"><%= post.content %><br></h1>  
                            <h1 style="color: lightblue;"><%= post.user.name %></h1>

                           </p> 

                           <div  id="post-comment">

                            <% if(locals.user) { %>
                              <form action="/comments/create" method="Post" >
                               <input type="text" name="content" placeholder=" type here to add comment... " required >
                               <input type="hidden" name="post"  value="<%= post._id %>">
                               <input type="submit" value="Add comment">



                              </form> 

                            <% } %>
                            <p> comments:</p>
                             
                            <div id="post-comment-list">
                                <ul id="post-comment-<%= post._id %>">
                                  <% for(comment of post.comments) { %>
                                    <p>

                                       
                                        <%= comment.content %> 
                                        <br> 
                                        <small>
                                            <%= comment.user.name %> 
                                        </small>
                                    </p>




                                <% } %>


                                </ul>
                            </div>


        </div>


                    </li>


                    

            <% } %>




            </ul>





        </div>





    </section>


